geopandas==1.0.1
openai==1.58.1
pandas==2.2.3
streamlit_folium==0.24.0
pyshp==2.3.1
matplotlib==3.10.0
groq==0.13.1
plotly==5.24.1
numpy==2.2.0
streamlit-chat==0.1.1
streamlit-extras==0.5.0
kaggle==1.6.17
streamlit-auth0-component==0.1.5
lida==0.0.14
st-copy-to-clipboard==0.1.6
streamlit-auth0==1.0.5
schedule==1.2.2