geopandas==1.0.1
openai==1.59.9
pandas==2.2.3
streamlit-folium==0.24.0
pyshp==2.3.1
matplotlib==3.10.0
groq==0.15.0
plotly==5.24.1
numpy==2.2.2
streamlit-chat==0.1.1
streamlit-extras==0.5.0
kaggle==1.6.17
streamlit-auth0-component==0.1.5
lida==0.0.14
schedule==1.2.2
sqlalchemy==2.0.37
psycopg2-binary==2.9.10